body {
  background-color: black;
  overflow-x: hidden;
}

div{
  display:inline-block;
}

p{
  color:#ffffff;
  font-size: 60px;

  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}


canvas{
  width: 60px;
  height: 30px;
}

table{
  margin-left: 100px;
}


#Date{
  color:#ffffff;
  font-size: 30px;

  font-family: sans-serif;
  margin-top: 5px;
}

#today{
  width: 200px;
  height: 100px;


}

#todayWeather{
  color:#ffffff;
  font-size: 50px;

  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

#todayHigh_Low{
  position: relative;
  color:#ffffff;
  font-size: 20px;

  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  bottom:10px;
  left: 173px;

}

#voiceControll{
  position: absolute;
  bottom: 10px;
  width:100%;
  text-align:center;
  display:block;
  margin-bottom: 30px;

}

#voiceToText{
  font-size: 80px;
  font-family: sans-serif;
  float: bottom;
  text-align: center;
  margin-bottom: 30px;
}

#day2Weather,#day3Weather,#day4Weather,#day5Weather{
  color:#ffffff;
  font-size: 15px;

  font-family: sans-serif;
  float: right;
}

#day2Day,#day3Day,#day4Day,#day5Day{
  color:#ffffff;
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}
